#footer {
    width: 100%;
    height: 400px;
    position: relative;
}

#footer .footer-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#footer .footer-introduce {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}