#tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#tools .tools-introduce-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #eef1f7;
    border-radius: 10px;
}

#tools .tool-introduce-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tools .tool-introduce-item-words {
    background-color: #d0d6e8;
    writing-mode: vertical-lr;
    padding: 12px 4px;
    color: #8086b1;
    border-radius: 5px;
}

#tools .tools-title {
    padding: 15px 7px;
    background-color: #f4d8dd;
    font-size: 36px;
    color: #33175a;
    writing-mode: vertical-lr;
    text-align: center;
    height: 200px;
    border: 10px;
}

#tools img {
    width: 60px;
    height: 120px;
}